body {
  color: #333;
  background: white;
  margin-left: +30%;
  margin-right: +20%;
  padding: 0.5em;               /* this will make a difference if I decide to
     				   have the background a different colour */
  /* I can't decide on font: Optima's always nice, but Gill looks
     agreeably intense.  Helvetica's a decent fallback. */
  font-family: "Helvetica Neue", "Gill Sans", gill, Helvetica, sans-serif;
  /* font-family: Optima, "Gill Sans", gill, Helvetica, sans-serif; */
  /* font-family: "Gill Sans", gill, Helvetica, sans-serif; */
  font-size: 11pt;
  line-height: 150%;
}

code, pre {
  font-family: Monaco, fixed;
  font-size: 9pt;
}

a { text-decoration: none; }
a:link { color: #66C; }
a:visited { color: #669; }
a[href]:hover { background: #EEE; }

div.abstract {
  font-style: oblique;
  text-align: left;
}
div.abstract em { font-style: normal; }
div.abstract code {
  font-style: normal;
  font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
  color: #822;
  font-weight: 100;             /* few fonts have ultra-light weights */
  line-height: 100%;            /* no need to spread out titles */
}
h1 {
  margin-left: -40%;
  margin-right: -5%;
  padding: 0.5em;
  border: solid #666;
  text-align: right;
}
h2 {
  margin-left: -40%;
  margin-right: -5%;
  padding: 0.2em;
  border-top: solid thin #666;
  clear: both;
}
h3 {
  margin-left: -30%;
  float: left;
  width: 25%;
  display: block;
  text-align: right;
  vertical-align: bottom;
  padding-top: 0pt;
  padding-right: 0.5em;
  margin-top: 0pt;
  line-height: 120%;
}

/*
h4 {
  color: #C66;
}
*/

pre, table { background: #dde; }

pre {
  padding: 1em;
  line-height: 130%;
}

table {
  font-size: smaller;
}
td {
  padding: 0.5ex;
}

Q:before { content: "“"; }
Q:after  { content: "”"; }

img.smallimage {
  float: right;
  margin: 24pt;
  margin-right: -30%;
}

div.signature {
  margin-left: -40%;
  margin-right: -5%;
  text-align: right;
  border: solid #666;
  padding: 0.3em;
  clear: both;
}

/* ============================================================
 * Some other curiosities of my one-time formatting for web pages
 */
pre.doc-history {
  font-size: xx-small;
  background #eee;
  line-height: 100%;
}

div.subtoc, div.subsubtoc { display: none; }

/* ============================================================
 * Special formatting for ToC
 */

/*
  If there's significant amount of text in front of the first subsection,
  then the following are good to put in the per-document stylesheet:
  width: 25%;
  float: right;
*/
div#toc {
  color: #888;
  padding: 0;
  font-size: smaller;
  text-align: right;
}
div#toc a:link { color: #888; }
div#toc > ul {
  padding: 0pt;
  margin: 0pt;
  list-style: none;
}
div#toc li {
  padding: 0pt;
  display: inline-block;
}
div#toc li:before {
  content: "§ ";
  margin-left: 1em;
}
/* the following elements aren't currently generated by structure.lx */
div#toc li ul {
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
  display: inline;
}
div#toc li ul:before {
  content: "( ";
}
div#toc li ul:after {
  content: " ) ";
}
div#toc li li {
  padding-left: 0pt;
}
div#toc li li:after {
  content: "; ";
}
